img.portrait {
  width: 100%;
  height: auto
}

header#page-header {
//  background: url(../img/title_image.png) center center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  & > h4 {
    margin-left: .5em;
  }
}

#logo {
  width: 80%;
  max-width: 350px;
  margin: 0 auto;
  display: block;
//  background: #FFF;
  padding: 20px;
}

.referenzen-container {
  .mdl-card {
    .mdl-card__media {
      img {
        width: 100%;
        height: auto;
      }
    }

    .mdl-card__supporting-text {
      padding-top: 0;
    }
  }
}

.referenz-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;
  transition: all .5s ease;
  -webkit-font-smoothing: antialiased;

  &.closed {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    border-radius: 100%;
  }

  .overlay-content {
    margin: 0 auto;
    width: 95%;
    max-width: 1200px;
    margin-top: 2em;
    padding: 1em;

    .close-button {
      position: absolute;
      right: 1em;
      top: 1em;
    }

    .mdl-grid.wrapper {
      width: 100%;
    }
  }
}

.aboutme {
  &,
  .mdl-cell {
    margin-left: 0;
    padding-left: 0;
  }

  ul {
    margin-left: 0;
    padding-left: 0;

    li {
      margin-left: 0;
      padding-left: 1em;
      list-style: none;

      strong {
        display: inline-block;
        width: 90px;
      }
    }
  }
}

section.colored {
  padding: 1em 0;
}

#kompetenzen {
  .mdl-grid.kompetenzen-list {
    padding: 0;

    &,
    .mdl-cell {
      padding: 0;
      margin: 0;

      ul {
        margin-left: 0;
        padding-left: 0;

        li {
          margin-left: 0;
          list-style: none;
          padding: 0.5em 0;

          img {
            width: 25px;
            height: auto;
            margin-right: .5em;
          }

          &.big {
            font-size: 1.3em;

            img {
              width: 64px;
              margin-right: 1em;
            }

            &.last {
              margin-bottom: 1em;
            }
          }
        }
      }
    }
  }

}

#kontakt {
  input[type="submit"] {
    float: right;
  }
}
